.hunt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .hunt .header {
    flex: 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center; }
  .hunt .window {
    display: flex;
    flex-direction: row; }
  .hunt .container {
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
    padding: 5px; }
    .hunt .container > .title {
      border-bottom: dashed 1px #000;
      font-weight: bold;
      text-align: center; }
    .hunt .container > .scroller {
      overflow: auto; }
  .hunt .container-messages {
    flex: 0 0 192px; }
    .hunt .container-messages ul {
      list-style-type: none; }
  .hunt .over-message {
    font-size: 22px;
    color: red; }
